{% extends "layout.html" %}
{% block body %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('  {{ url_for('static', filename='img/home-bg.jpg')}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                  <div class="site-heading">
                      <h1>Admin Panel</h1>
                      <span class="subheading">Manage your posts and change them</span>
                    </div>
              </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<!-- msg flashing -->
         {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, message in messages%}

        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

</div>

        {% endfor %}
        {% endif %}
        {% endwith %}
<div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">

            <h1> Basic Actions</h1>
            <a href="/edit/0"><button class="btn btn-primary float-right"> Add a new post</button></a>
            <a href="/logout"><button class="btn btn-primary float-right"> Logout</button></a>

            <hr></hr>
            <h1> Upload A file</h1>
            <form action ="/uploader" method='post' enctype="multipart/form-data" >
              <input type="file" name="file1">
              <button class="btn btn-primary float-right"> Submit</button>
              </form>
            <hr></hr>

                <div class="table-responsive">
                  <h1>Edit Posts</h1>
                    <table class="table">
                        <!-- <caption>List of users</caption> -->
                        <thead>
                            <tr>
                                <th scope="col">Sr no.</th>
                                <th scope="col">Title</th>
                                <!-- <th scope="col">Content</th> -->
                                <th scope="col">Date</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for post in posts %}
                            <tr>
      
                                <td>{{post.sno}}</td>
                                <td>{{post.title}}</td>
                                <!-- <td>{{post.content[0:30]}}...</td> -->
                                <td>{{post.date}}</td>
                                <td><a href="/edit/{{post.sno}}"><button class="btn btn-primary float-right" >Edit</button></a></td>
                                <td><a href="/delete/{{post.sno}}"><button class="btn btn-primary float-right" >Delete</button></a></td>
                            </tr>
                            {% endfor %}

      
                         </tbody>
                    </table>
                </div>
          </div>
     </div>
</div>
 <!-- for flash msg -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
<!-- I've just rearrange it to make it beautiful and understable...it's not necceasry!! -->
